{% extends "base.html" %}
{% block page_name %} Home {% endblock %}

{% block content %}
<!-- 현재 데이터 베이스에 있는 방 이름과 가격을 가져 옵니다. -->
{% for room in rooms %}
<h5>{{room.name}} / ${{room.price}}</h5>
{% endfor %}
<h5>Page {{page_obj.number}} of {{paginator.num_pages}}</h5>
<!-- 이전 페이지가 있다면 -->
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}"> 이전 </a>
{% endif%}

<!-- 다음 페이지가 있다면 -->
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}"> 다음 </a>
{% endif %}

{% endblock %}