{% extends "base.html" %}
{% block page_title %} Home {% endblock %}

{% block content %}

<div class="container mx-auto">

    <div class="bg-gray-800 h-50vh mt-32 rounded-xl mt-32 mb-24 bg-cover bg-center"
        style="background-image: url(https://images.unsplash.com/photo-1555425293-8b30cde0f787?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1214&q=80);">
    </div>

    <div class="flex flex-wrap">
        <!-- 현재 데이터 베이스에 있는 방 이름과 가격을 가져 옵니다. -->
        {% for room in rooms %}
        <!-- for-in 통해 넘겨준 room variavble 인자 넘길때 띄워쓰기 하면 안 됨-->
        {% include 'partials/room_card.html' with room=room %}
        {% endfor %}
    </div>

    <div class="flex items-center justify-center mx-auto container">
        <nav class="relative z-0 inline-flex shadow-sm">
            <!-- 이전 페이지가 있다면 -->
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}"
                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-lg active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
                aria-label="Previous">
                <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd" />
                </svg>
            </a>
            {% endif%}

            <!-- 페이지의 갯수만큼 loop -->
            {% for index in page_obj.paginator.page_range %}
            <!-- current page -->
            {% if page_obj.number == index %}
            <span
                class="hidden md:inline-flex -ml-px relative items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">{{ index }}</span>
            {% else %}
            <!-- current page가 아니라면 -->
            <a class="hidden md:inline-flex -ml-px relative items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
                href="?page={{ index }}">{{ index }}</a>
            {% endif %}

            {% endfor%}

            <!-- 다음 페이지가 있다면 -->
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}"
                class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
                aria-label="Next">
                <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd" />
                </svg>
            </a>
            {% endif %}
        </nav>
    </div>
</div>
{% endblock %}