{% extends "base.html" %}
{% block page_title %} {{room.name}} {% endblock %}

{% block content %}
<div>
    <h1>{{room.name}} || {{room.address}}</h1>
    <hr color="#9896a4" , size=0.1em>
    <h2>Description</h2>
    <h5>{{room_detail.description}}</h5>
</div>
<div>
    By: <a class="text-green-500" href="{{room.host.get_absolute_url}}">{{room.host.username}}</a>
    {% if room.host.superhost%}
    (superhost)
    {% endif %}
    <hr color="#9896a4" , size=0.1em>
</div>
<div>
    <h3>Amenity</h3>
    <ul>
        {% for a in room.amenities.all %}
        <li> {{a}} </li>
        {% endfor %}
    </ul>
    <hr color="#9896a4" , size=0.1em>
    <h3>Facility</h3>
    <ul>
        {% for f in room.facilities.all %}
        <li> {{f}} </li>
        {% endfor %}
    </ul>
    <hr color="#9896a4" , size=0.1em>
    <h3>House Rule</h3>
    <ul>
        {% for h in room.house_rule.all %}
        <li> {{h}} </li>
        {% endfor %}
    </ul>
    <hr color="#9896a4" , size=0.1em>
</div>

{% endblock %}