{% extends "base.html" %}
{% block page_title %} Search {% endblock %}

{% block search-bar %}
{% endblock search-bar%}
{% block content %}
<h2>Search!</h2>
<form method="GET" action="{% url 'rooms:search' %}">
    {{form.as_p}}
    <button>Search</button>
</form>

<h2>Result</h2>
<div class="flex flex-row">
{% for room in rooms %}
{% include 'mixins/room_card.html' with room=room %}
{% endfor %}

{% if rooms.has_previous %}
<a href="?{{address}}&page={{rooms.previous_page_number}}"> 이전 </a>
{% endif%}

{% for i in rooms.paginator.page_range %}
<a href="?{{address}}&page={{i}}">{{i}}</a>
{% endfor%}
<!-- 다음 페이지가 있다면 -->
{% if rooms.has_next %}
<a href="?{{address}}&page={{rooms.next_page_number}}"> 다음 </a>
{% endif %}
</div>
{% endblock content %}



