{% extends "base.html" %}
{% block page_title %} Reservation {{reservation.check_in}} {% endblock %}

{% block content %}
<div class="container mx-auto my-10 flex flex-col mb-75vh">
    <div class="border-t border-l border-r bg-cover bg-center h-64 rounded-t-lg b-5 " style="background-image: url({{reservation.room.first_photo}});"></div>
    <div class="flex flex-col items-start border-l border-r border-t border-b">
        <div class="py-5 px-5 w-full text-gray-600 font-medium text-sm border-b">
            {{reservation.check_in}} - {{reservation.check_out}} 
            : 
            {{reservation.room.guests}} Guest{{reservation.room.guests|pluralize}}
            <span class="font-semibold ml-1
                {% if reservation.status == 'pending' %} text-orange-400 
                {% elif reservation.status == 'canceled' %} text-red-400 
                {% else%} text-teal-400
                {% endif %}">{{reservation.get_status_display}}</span>
        </div>

        <span class="p-5 w-full text-3xl font-semibold text-gray-700 border-b border-gray-400 flex flex-center">
            {{reservation.room.name}}
        </span>

        <div class="flex p-5 w-full border-b">
            <div class="flex flex-col items-center ">
                {% include 'mixins/user_avatar.html' with user=reservation.room.host %}
                <span class="mt-2 font-light text-gray-700">{{reservation.room.host.first_name}}{{reservation.room.host.last_name}}</span>
            </div>
            <div class="ml-5 flex flex-col pt-5">
                <span class="font-semibold mx-p">Contact Your Airbnb Host</span>
                <a href="{% url 'conversations:go' reservation.room.host.pk reservation.guest.pk %}" class="text-teal-500 font-medium">Send a message</a>
            </div>
        </div>

        <div class="px-5 py-10">
        <!-- 예약이 취소되지 않았고 -->
        {% if reservation.status != 'canceled' %}
        <!-- 현재 예약이 승인된 상태이지만 기간이 만료가 되었다면 -->
            {% if reservation.status == 'confirmed' and reservation.is_finished %}
                <!-- 리뷰를 씁시다 여러분 젠틀맨 레이디스 -->
                <span class="font-medium text-2xl text-center w-full block mb-5">Write your review</span>
                <form action="{% url 'reviews:create' reservation.room.pk %}" method="POST" class="flex flex-col mx-auto items-center border border-teal-300">
                    {% csrf_token %}
                    {{form}}
                    <button class="btn_link mt-5">Submit Review</button>
                </form>
            {% else %}
            <!-- 그렇지 않고 현재 예약을 신청한 상태인데 취소를 하고 싶으면 취소 버튼 눌려서 취소 하면 된다.-->
                {% if reservation.status == 'pending' %}
                    <a href="{% url 'reservations:edit' reservation.pk 'cancel' %}" class="btn_link bg-red-600 font-medium px-3 block mb-5">Cancel Reservation</a>
                    <!-- 현재 접속한 유저가 호스트라면 승인 버튼으로 승인 할 수 있다. -->
                    {% if reservation.room.host == user %}
                        <a href="{% url 'reservations:edit' reservation.pk 'confirm' %}" class="btn_link bg-teal-600 font-medium px-5 block">Confirm Reservation</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}